.section-features{
    padding: 16px 0;
 
}

.features-title{
    text-indent: 3%;
}

.feature-list{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-list-item{
    width: 90%;
    height: 120px;
    border-top: 1px solid var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
    border-radius: 14px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feature-list-item:not(:first-child){
    margin-top: 16px;
}

.feature-icon{
    fill: currentColor;
}

.features-description{
    margin-left: 15px;
    max-width: 170px;
    text-align:center;
}

.features-subtitle{
    text-indent: 3%;
    margin-top: 16px;
    
}