footer{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--primary-text-color);
    color: var(--primary-white-color);
}

.slogan{
    margin-top: 8px;
    text-indent: 3%;
}


address{
    font-style: inherit;
}

.contacts-list-footer{
    margin-top: 12px;
}

.empl{
    font-size: 18px;
    font-weight: 700;
}

.contacts-list-footer-item:not(:first-child){
    margin-top: 12px;
}

.wrapper-social{
    margin-top: 14px;
}
.social-list{
    display: flex;  
    justify-content: center;
    margin-top: 6px;
}

.title-join{
    font-size: 14px;
    font-weight: 600;
}

.social-list-item:not(:first-child){
    margin-left: 14px;
}

.social-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-text-color);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link svg{
    fill: currentColor;
}
