footer{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--primary-text-color);
    color: var(--primary-white-color);
}


.slogan{
    margin-top: 12px;
    text-indent: 3%;
    font-size: 14px;
    text-align: left;
}


address{
    font-style: inherit;
}

.contacts-list-footer{
    margin-top: 24px;
}

.empl{
    font-size: 20px;
    font-weight: 700;
}

.contacts-list-footer-item:not(:first-child){
    margin-top: 16px;
}

.location{
    font-size: 14px;
    display: flex;
    align-items: baseline;
    margin-top: 24px;
}

.location svg{
    margin-right: 6px;
    fill: currentColor;
}

.wrapper-social{
    margin-top: 14px;
}
.social-list{
    display: flex;  
    justify-content: center;
    margin-top: 12px;
}

.title-join{
    font-size: 14px;
    font-weight: 600;
}

.social-list-item:not(:first-child){
    margin-left: 14px;
}

.social-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-text-color);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link svg{
    fill: currentColor;
}

.developer{
    // max-width: 230px;
    margin: 14px 0 0;
    // text-align: r;
    font-size: 11px;
    border-top: 1px solid var(--primary-white-color);
    padding-top: 8px;
    padding-left: 8px;
}

.developer a{
    font-weight: 500;
    border-bottom: 1px solid var(--primary-white-color);
}