.hero-wrapper{
    background-color: var(--primary-text-color);
}
.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-color: var(--primary-text-color);
    padding: 60px 0;
    @media screen and (min-width:768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), url(../images/hero-tablet.jpg);
            height: 400px;
            max-width: 1199px;
            margin: 0 auto;
            
        }
    @media screen and (min-width:1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop.jpg);
        height: 600px;
        max-width: 1600px;
        margin: 0 auto;
    }
    

}

.hero-title{
    hyphens: none;
    font-weight: 900;
    font-size: 36px;
    max-width: 700px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
    @media screen and (min-width:768px) {
            margin: 0 auto;
            font-size: 48px;
            margin-top: 2%;
        }
    @media screen and (min-width:1200px) {
        margin: 0 auto;
        font-size: 56px;
        margin-top: 4%;
        }
}