#myBtn {
    display: none;
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 4px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    color: var(--primary-text-color);
    cursor: pointer;
    border-radius: 50%;
    transition-property: background-color, color;
    @include animation;

    @media screen and (min-width:768px){
        width: 54px;
        height: 54px;
        bottom:20px;
        right: 50px;        
    };
    
        &:hover,
        &:focus {
            background-color: var(--accent-color); 
            color: var(--primary-white-color);  
        }
}


#myBtn svg{
    fill: currentColor;
}