.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);

    transition-property: color;
    @include animation;
   
}

.logo span{
    border-top: 3px solid var(--primary-text-color);
    border-bottom: 3px solid var(--primary-text-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    transition-property: border-color;
    @include animation;

}

.logo svg{
    fill: currentColor;
}


.logo:hover{
    color: #e29930;
    transition-property: color;
    @include animation;

    span{
        border-color: #e29930;
    }
}


.logo-footer{
    display: inline;
    color: var(--primary-white-color);
    border-color: var(--primary-white-color);
   
}

.logo-footer span{
    border-color: var(--primary-white-color);
    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}