.logo{
    width: 116px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
   
}

.logo span{
    border-top: 4px solid var(--primary-text-color);
    border-bottom: 4px solid var(--primary-text-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

.logo svg{
    fill: currentColor;
}


.logo:hover{
    transform: rotate(2deg);
    color: #e29930;

    span{
        border-color: #e29930;
    }
}


.logo-footer{
    color: var(--primary-white-color);
    border-color: var(--primary-white-color);
}

.logo-footer span{
    border-color: var(--primary-white-color);
    font-size: 18px;
}